name: 'Semmle QL'
scopeName: 'source.ql'
type: 'tree-sitter'
parser: 'tree-sitter-ql'

fileTypes: ['ql', 'qll']

firstLineRegex: [
  # import
  '^import\s[a-z]+\\r?\\n'
]

comments:
  start: '// '

scopes:
  'AND': 'keyword.control'
  'ANY': 'keyword.control'
  'AS': 'keyword.control'
  'ASC': 'keyword.control'
  'AVG': 'keyword.control'
  'BOOLEAN': 'keyword.control'
  'BY': 'keyword.control'
  'CLASS': 'keyword.control'
  'NEWTYPE': 'keyword.control'
  'COUNT': 'keyword.control'
  'DATE': 'keyword.control'
  'DESC': 'keyword.control'
  'ELSE': 'keyword.control'
  'EXISTS': 'keyword.control'
  'EXTENDS': 'keyword.control'
  'FALSE': 'keyword.control'
  'FLOAT': 'keyword.control'
  'FORALL': 'keyword.control'
  'FOREX': 'keyword.control'
  'FROM': 'keyword.control'
  'IF': 'keyword.control'
  'IMPLIES': 'keyword.control'
  'IMPORT': 'keyword.control'
  'IN': 'keyword.control'
  'INSTANCEOF': 'keyword.control'
  'INT': 'keyword.control'
  'MAX': 'keyword.control'
  'MIN': 'keyword.control'
  'MODULE': 'keyword.control'
  'NOT': 'keyword.control'
  'NONE': 'keyword.control'
  'OR': 'keyword.control'
  'ORDER': 'keyword.control'
  'PREDICATE': 'keyword.control'
  'RANK': 'keyword.control'
  'RESULT': 'keyword.control'
  'SELECT': 'keyword.control'
  'STRICTCOUNT': 'keyword.control'
  'STRICTSUM': 'keyword.control'
  'STRICTCONCAT': 'keyword.control'
  'CONCAT': 'keyword.control'
  'STRING': 'keyword.control'
  'SUM': 'keyword.control'
  'SUPER': 'keyword.control'
  'THEN': 'keyword.control'
  'THIS': 'keyword.control'
  'TRUE': 'keyword.control'
  'WHERE': 'keyword.control'